<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>20200703</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>dljmServlet</display-name>
    <servlet-name>dljmServlet</servlet-name>
    <servlet-class>com.java.dao.dljmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dljmServlet</servlet-name>
    <url-pattern>/dljmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.java.dao.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.java.dao.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>glydlServlet</display-name>
    <servlet-name>glydlServlet</servlet-name>
    <servlet-class>com.java.dao.glydlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>glydlServlet</servlet-name>
    <url-pattern>/glydlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commodityServlet</display-name>
    <servlet-name>commodityServlet</servlet-name>
    <servlet-class>com.java.dao.commodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commodityServlet</servlet-name>
    <url-pattern>/commodityServlet</url-pattern>
  </servlet-mapping>
</web-app>